<div class="show-space"></div>
<h1><%= @authority_name %></h1>

<h3><%= @authority_name %> has <%= @establishment_count %> establishments and here is how their ratings are distributed:</h3>

<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Rating</th>
        <th scope="col">Percentage</th>
      </tr>
    </thead>
    <tbody>
      <% @ratings.each_with_index do |rating, i| %>
        <tr>
          <td scope="row"><%= rating %></td>
          <td><%= @ratios[i] %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<form action="/"><input type="submit" value="Back to home" /></form>